<header class="header">
    <a href="" class="logo"><span>KSJI</span>-Togo</a>
    <nav class="navbar">
        <a href="{{ path('app_home') }}">Accueil</a>
        <a href="{{ path('app_about') }}">Historique</a>
        <a href=""></a>
        <a href="">Evènements</a>
        <a href="">Gallerie</a>
        <a href="">Contact</a>
        <a href="">Nous Soutenir</a>
    </nav>
    <div id="menu-bars" class="fa fa-bars"></div>
</header>
