{% extends 'website/base.html.twig' %}
{% block body %}
<section class="header-img" id="header-img">
    <div class="content">
        <h1>Historique de l'ordre au <span>Togo</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur, deleniti dolorum eaque exercitationem incidunt reprehenderit! Ab laboriosam officiis ratione. </p>
        <a href="#" class="btn">Nous contacter</a>
    </div>
</section>
{% endblock %}
