{% extends 'website/base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="header-img" id="header-img">
        <div class="content">
            <h1>Quelques évènements à venir </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur, deleniti dolorum eaque exercitationem incidunt reprehenderit! Ab laboriosam officiis ratione. </p>
            <a href="#" class="btn">Nous contacter</a>
        </div>
    </section>
    <section class="event-blog" id="event-blog">
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="{{ asset('assets/images/old-soa.jpeg') }}" alt="">
                </div>
                <div class="content">
                    <a href="" class="title">Sommet Ouest Africain</a>
                    <span>by admin / 25th January, 2023</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, voluptas.
                    </p>
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="{{ asset('assets/images/old-soa.jpeg') }}" alt="">
                </div>
                <div class="content">
                    <a href="" class="title">Sommet Ouest Africain</a>
                    <span>by admin / 25th January, 2023</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, voluptas.
                    </p>
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="{{ asset('assets/images/old-soa.jpeg') }}" alt="">
                </div>
                <div class="content">
                    <a href="" class="title">Sommet Ouest Africain</a>
                    <span>by admin / 25th January, 2023</span>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, voluptas.
                    </p>
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
